@if (TempData["Success"] != null)
{
    <div class="alert alert-success notification text-center">
        @* NOTE: Don't use `Html.Raw` in production if it can be helped. *@
        @Html.Raw(TempData["Success"])
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger notification text-center">
        @* NOTE: Don't use `Html.Raw` in production if it can be helped. *@
        @Html.Raw(TempData["Error"])
    </div>
}